.loginComp {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
}

.loginComp>h1 {
    font-size: 3rem;
    margin-top: 3rem;
}

.loginComp>h2 {
    font-size: 2rem;
    margin-bottom: 3rem;
}

.loginComp>img {
    margin-top: 15vh;
    width: 50vw;
}

.loginFormCont {
    width: 40vw;
    height: 3rem;
}

.loginFormCont>input {
    width: 75%;
}

.loginFormCont>button {
    width: 25%;
}
