.pokemonCardCont {
    width: 20rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
}

.pokemonCardCont>ul {
    list-style: none;
}

.cardImgCont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    width: 100%;
}

.cardImgCont>img {
    position: absolute;
    margin-top: 1.5rem;
    max-height: 10rem;
    max-width: 12rem;
    object-fit: contain;
}

.cardImgCont>img:hover {
    cursor: pointer;
    animation: zoomPokemonInCard 0.3s forwards;
}

.pokemonCardCont>h1 {
    margin-top: 3rem;
}

.inCardTypes {
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.ulTopic {
    margin-bottom: 0.5rem;
}

.inCardStats {
    border-top: 1px solid rgba(0, 0, 0, 0.158);
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.inCardStats>* {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
}

@keyframes zoomPokemonInCard {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
}